/**
  * Author: Alonso Vidales <alonso.vidales@tras2.es>
  * Date: 2012-02-13
  */

html, body {
	/*background: #28323e;*/
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #2d4259;
}

.title-green {
    width: 220px;
    line-height: 43px;
    /*margin: 50px auto 20px;*/
    font-size: 19px;
    font-weight: 500;
    color: white;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background: #d7604b;
    border-radius: 3px;
    /*colors used to be dc745e to d45742*/
    background-image: -webkit-linear-gradient(top, #7dbe52, #60a83a);
    background-image: -moz-linear-gradient(top, #7dbe52, #60a83a);
    background-image: -o-linear-gradient(top, #7dbe52, #60a83a);
    background-image: linear-gradient(to bottom, #7dbe52, #60a83a);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.title-red {
    width: 220px;
    line-height: 43px;
    /*margin: 50px auto 20px;*/
    font-size: 19px;
    font-weight: 500;
    color: white;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background: #d7604b;
    border-radius: 3px;
    /*colors used to be dc745e to d45742*/
    background-image: -webkit-linear-gradient(top, #dc745e, #d45742);
    background-image: -moz-linear-gradient(top, #dc745e, #d45742);
    background-image: -o-linear-gradient(top, #dc745e, #d45742);
    background-image: linear-gradient(to bottom, #dc745e, #d45742);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.title-purple{
    width: 220px;
    line-height: 43px;
    /*margin: 50px auto 20px;*/
    font-size: 19px;
    font-weight: 500;
    color: white;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background: #d7604b;
    border-radius: 3px;
    /*colors used to be dc745e to d45742*/
    background-image: -webkit-linear-gradient(top, #bb5ddc, #ac42d5);
    background-image: -moz-linear-gradient(top, #bb5ddc, #ac42d5);
    background-image: -o-linear-gradient(top, #bb5ddc, #ac42d5);
    background-image: linear-gradient(to bottom, #bb5ddc, #ac42d5);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

/**
  * The Game Canvas
*/
div#main_canvas {
    display: flex;
	width: 640px;
	height: 480px;
    /*margin: 0 auto;*/
	/*position: absolute;*/
    /*bottom: 50%;*/
	/*left: 50%;*/
	/*right: 50%;*/
    /*margin: -320px -240px -240px -320px;*/
    box-shadow: 0 0 12px 2px rgba(52, 195, 255, 1);
}

div#below {
    color: white;
    text-align: center;
}

div#below label {
    font-size: 18px;
}

.vidFrame {
    box-shadow: 0 0 12px 2px rgba(52, 195, 255, 1);
}

.hd {
	display: none;
}

/**
  * Penguins styles
  */
.penguin {
	background-image: url('../img/penguins/shooters.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 60px;
	z-index: 100;
}

.penguin.looser {
	background-image: url('../img/penguins/looser.png');
}

.penguin.winner {
	background-image: url('../img/penguins/win.png');
}

div.game_background {
	background-image: url('../img/backgrounds/back_one_player.png');
	background-repeat: no-repeat;
}

.shooter {
	background-image: url('../img/shooter/shooter.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 100px;
	height: 100px;
	z-index: 100;
}

.bubble {
	background-image: url('../img/bubbles/bubbles.gif');
	background-repeat: no-repeat;
	position: absolute;
	width: 32px;
	height: 32px;
	z-index: 50;
}

.bubble_frozzen {
	background-image: url('../img/bubbles/bubble_lose.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 34px;
	height: 48px;
	z-index: 60;
}

.compressor {
	background-image: url('../img/compressor/compressor_main.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 252px;
	height: 51px;
	z-index: 50;
}

.compressor_extender {
	background-image: url('../img/compressor/compressor_ext.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 188px;
	height: 28px;
	z-index: 50;
}

.font {
	background-repeat: no-repeat;
	position: absolute;
	z-index: 99999;
}

.text_link {
	cursor: pointer;
}

.font.hi {
	background-image: url('../img/fonts/font-hi.png');
}

.font.char {
	background-image: url('../img/fonts/font.png');
}

.credits_background {
	background-image: url('../img/fonts/text_background.png');
	position: absolute;
	top: 428px;
	left: 8px;
	width: 217px;
	height: 60px;
}

.alert {
	background-repeat: no-repeat;
	position: absolute;
	top: 130px;
	z-index: 10000;
}

.alert.loser {
	background-image: url('../img/alerts/loser.png');
	width: 345px;
	height: 124px;
}

.alert.winner {
	background-image: url('../img/alerts/winner.png');
	width: 329px;
	height: 159px;
}

.alert.winner_last_level {
	background-image: url('../img/alerts/win_last_level.png');
	width: 329px;
	height: 159px;
}

.alert.hurry {
	background-image: url('../img/alerts/hurry.png');
	width: 244px;
	height: 102px;
}
